asgiref
beautifulsoup4
certifi
charset-normalizer
click
colorama
crispy-bootstrap5
cssselect
decorator
distlib
Django
django-crispy-forms
django-email
django-environ
EasyProcess
entrypoint2
et-xmlfile
feedfinder2
feedparser
filelock
future
geocoder
geographiclib
geopy
gTTS
idna
jieba3k
joblib
lxml
MouseInfo
mss
mysql-connector-python
newspaper3k
nltk
numpy
opencv-contrib-python
opencv-python
openpyxl
pandas
Pillow
platformdirs
praw
prawcore
protobuf
psycopg2
PyAutoGUI
pyenchant
pygame
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
python-dateutil
pytweening
pytz
PyYAML
ratelim
regex
requests
requests-file
scipy
sgmllib3k
six
sketchpy
soupsieve
sqlparse
svg.path
svgpathtools
svgwrite
tinysegmenter
tldextract
tqdm
turtle
tzdata
update-checker
urllib3
virtualenv
websocket-client